#app {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.page .page-title {
  text-align: center;
}

.page > .MuiGrid-root {
  width: 90%;
}

.custom-btn {
  height: 4rem;
}

.spinning {
  animation: spin 2000ms linear 0ms infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
