:root {
  /* TODO: find a way to make this dynamic, and conform to theme in theme.ts */
  --app-background-color: rgb(0, 0, 0);
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--app-background-color);
  color: white;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('assets/fonts/nunito-v16-latin-regular.woff2') format('woff2');
}
