netclient
netclient.syso
build/*
!build/netclient.service
!build/appicon.png
files/netclient
netclient-amd64
netclient-arm
netclient-arm64
netclient-32
netclient32
netclient.exe
netclient.yml
launch.json
**/vendor/
gui/build/
**/node_modules/
gui/**/dist/
backup/*
dist/*
